<html>

<head>
    <title> Daniel's Portfolio</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        /* Add a gray background color and some padding to the footer */

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="/">Portfolio</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://github.com/Ztruk11">Github</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Portfolio</h1>
            <p>By Daniel Kurtz</p>
        </div>
    </div>
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-3">
                <p><a href="https://evening-chamber-25309.herokuapp.com/">Change Calculator</a></p>
                <img src="/changecalculator.png" class="img-thumbnail img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p><a href="https://hidden-ravine-23484.herokuapp.com/">Mortgage Calculator</a></p>
                <img src="/mortgagecalculator.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p><a href " https://agile-sea-16396.herokuapp.com/">Top Spots of San Diego</a></p>
                <img src="/topspots.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-3">
                <p><a href="https://mysterious-reef-89294.herokuapp.com/
">To-Do App</a></p>
                <img src="/verysimpletodo.png" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
    </div>
</body>

</html>